*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

body{
  background:#fff9f2;
}



nav{
  width:100%;
  background:#f8a51c;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 8%;
}

.logo{
  font-size:30px;
  font-weight:700;
  color:#3d1f00;
}

.logo span{
  display:block;
  font-size:15px;
  letter-spacing:5px;
}

nav ul{
  display:flex;
  list-style:none;
}

nav ul li{
  margin-left:40px;
}

nav ul li a{
  text-decoration:none;
  color:#2e1800;
  font-weight:500;
}

.active{
  background:white;
  padding:10px 20px;
  border-radius:10px;
}



.hero{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:80px 8%;
}

.hero-text{
  width:50%;
}

.hero-text h1{
  font-size:75px;
  color:#2d1400;
  margin-bottom:20px;
}

.hero-text h3{
  font-size:35px;
  color:#e59a19;
  margin-bottom:20px;
}

.hero-text p{
  font-size:20px;
  line-height:1.8;
  color:#555;
  margin-bottom:30px;
}

.button-group{
  display:flex;
  gap:20px;
}

.btn{
  padding:14px 30px;
  border-radius:10px;
  text-decoration:none;
  font-weight:500;
}

.btn1{
  background:#ff4b4b;
  color:white;
}

.btn2{
  border:2px solid #ff4b4b;
  color:#ff4b4b;
}

.hero-image img{
  width:650px;
}



.produk{
  padding:50px 8%;
}

.title{
  text-align:center;
  margin-bottom:50px;
}

.title h5{
  color:#f0a11a;
  letter-spacing:2px;
}

.title h2{
  font-size:45px;
  color:#2d1400;
}

.card-container{
  display:flex;
  gap:30px;
  justify-content:center;
  flex-wrap:wrap;
}

.card{
  width:280px;
  background:white;
  border-radius:15px;
  overflow:hidden;
  box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.card img{
  width:100%;
  height:220px;
  object-fit:cover;
}

.card-body{
  padding:20px;
}

.card-body h3{
  margin-bottom:10px;
  color:#2d1400;
}

.card-body p{
  color:#666;
  line-height:1.6;
  margin-bottom:15px;
}

.card-body span{
  color:red;
  font-weight:bold;
  font-size:20px;
}



.fitur{
  display:flex;
  justify-content:center;
  gap:20px;
  padding:50px 8%;
  flex-wrap:wrap;
}

.fitur-box{
  background:#fff1df;
  padding:30px;
  border-radius:15px;
  width:250px;
}

.fitur-box h3{
  margin-bottom:10px;
  color:#2d1400;
}